# -*- coding: utf-8 -*-
# vim: ft=yaml

{% import_yaml "ssh/maps/defaults.map" as ssh_defaults %}

{% import_yaml "ssh/maps/osdefaults.map" as ssh_osdefaults %}

{% import_yaml "ssh/maps/os.map" as ssh_os %}

{% set ssh_os_family = {} %}

{% do ssh_os_family.update(ssh_defaults) %}
{% do ssh_os_family.update(ssh_osdefaults) %}
{% do ssh_os_family.update(ssh_os) %}

{%- set ssh_default_plus_pillar_lookup = salt['grains.filter_by'](ssh_os_family, grain='os_family', merge=salt['pillar.get']('ssh:lookup'), default='osdefaults', base='defaults') %}

{%- set ssh = salt['pillar.get']('ssh', default=ssh_default_plus_pillar_lookup, merge=True) %}
