{%- for node , nodedata in salt['pillar.get']('nodedata', {}).items()|sort %}
{%- set hostlist = [ node,  node.partition('.')[0] ] -%}
{%- if nodedata.dnsdata is defined -%}
{%- if nodedata.dnsdata.cnames is defined -%}
{%- for cname in nodedata.dnsdata.cnames|sort -%}
{%- do hostlist.append(cname + '.' + node.partition('.')[2]) -%}
{%- do hostlist.append(cname) -%}
{%- endfor -%}
{%- endif -%}
{%- endif -%}
{%- if nodedata.netdata is defined -%}
{%- if nodedata.netdata.ipaddresses is defined -%}
{%- for ipaddr_name,ipaddr in nodedata.netdata.ipaddresses.items()|sort -%}
{%- do hostlist.append(ipaddr) -%}
{%- endfor -%}
{%- endif -%}
{%- endif -%}
{%- if nodedata.sshdata is defined and nodedata.sshdata -%}
{%- if nodedata.sshdata.ssh_host_ecdsa_key_pub is defined and nodedata.sshdata.ssh_host_ecdsa_key_pub -%}
{{hostlist|join(',')}} {{nodedata.sshdata.ssh_host_ecdsa_key_pub}}
{%- endif -%}
{%- if nodedata.sshdata.ssh_host_ed25519_key_pub is defined and nodedata.sshdata.ssh_host_ed25519_key_pub -%}
{{hostlist|join(',')}} {{nodedata.sshdata.ssh_host_ed25519_key_pub}}
{%- endif -%}
{%- if nodedata.sshdata.ssh_host_rsa_key_pub is defined and nodedata.sshdata.ssh_host_rsa_key_pub -%}
{{hostlist|join(',')}} {{nodedata.sshdata.ssh_host_rsa_key_pub}}
{%- endif -%}
{%- endif -%}
{%- endfor -%}
