{%- for ssh_host_key,ssh_host_key_data in ssh.hosts.ssh_host_keys.items()|default({})|sort %}
  {%- if ssh_host_key_data.hostlist is defined and ssh_host_key_data.hostlist -%}
    {% for host_cipher in ssh.host_ciphers %}
      {%- if ssh_host_key_data.ssh_host_{{host_cipher}}_key_pub is defined and ssh_host_key_data.ssh_host_{{host_cipher}}_key_pub -%}
{{hostlist}} {{ssh_host_key_data.ssh_host_{{host_cipher}}_key_pub}}
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
{%- endfor -%}
